@import "../../assets/scss/main.scss";

.layout-content {
  height: 100%;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  & .row { height: 100%; }
  & .content {
    height: 100%;
    overflow: scroll;
    border-left: 2px solid #ffffff0d;
    border-right: 2px solid #ffffff0d;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.side-bar {
  & .logo {
    width: 2rem;
  }
  & .brand {
    margin-top: .5rem;
  }
  & .btn-new-tweet {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
  }
  & a {
    color: $font-light;
    font-weight: 500;
    &:hover { text-decoration: none; }
    & svg {
      margin-right: 1rem;
    }
  }
  & .list-group {
    & .list-group-item {
      border: none;
      background-color: transparent;
    }
  }
}
